/* Image modal */
img.has-modal {
    cursor: pointer;
    border: 1px solid var(--primary);
    border-radius: 16px;
    max-height: 250px;
    margin-right: 2rem;
}



@media (max-width: 576px) {
    img.has-modal {
        max-height: 100%;
        margin-bottom: 2rem;
    }
}

img.has-modal:hover {
    border: 1px solid #017afe;
    border-radius: 16px;
}

#myModal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 99999;
}

#myModal .icon-button {
    position: absolute;
    top: 20px;
}

.icon-button>img {
    width: 3rem;
}

#myModal>.full-padding {
    max-height: calc(80vh);
    margin-top: calc(10vh);
    border-radius: 16px;
}

#myModal.closed {
    display: none;
}

@media (max-width: 576px) {
    #myModal>img {
        width: 100%;
    }

    #myModal>.icon-button {
        position: relative;
    }
}



/*Tabs*/

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
    border-radius: 16px 16px 0 0;
}

label:hover {
    color: var(--secondary-variant);
    cursor: pointer;
}

input:checked+label {
    color: var(--secondary);
    border: 1px solid #ddd;
    border-top: 2px solid #fe6201;
    border-bottom: 1px solid #fff;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4,
#tab5:checked~#content5 {
    display: block;
}
